@import url(../font/stylesheet.css);
@import url(./reset.css);
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);


*{
    box-sizing: border-box;
}

body{
    font-family: 'Gilroy', sans-serif;
    font: 400;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
}

